In [ ]:
#variables are nothing but the value holders that are being assigned to it. examples as below.

In [1]:
x=3
y=3
x+y

6

In [2]:
#Rules for declaring varibales
#1.Variable name shoud not contain any name space while declaring it. examples as below
first name='Rajeshwari'
print(first name)

SyntaxError: invalid syntax (<ipython-input-2-ed6c38760e56>, line 3)

In [3]:
#correct usage
firstname='Rajeshwari'
print(firstname)

Rajeshwari

In [4]:
#2.Avariable name should not start with a number
1name='Rajeshwari'

SyntaxError: invalid syntax (<ipython-input-4-98f7d261febb>, line 2)

In [7]:
#Note:We can use number at the end of variable declaration or inbetween of variable declaration.
name1='Rajeshwari'
print(name1)

Rajeshwari

In [8]:
first1name='Rajeshwari'
print(first1name)

Rajeshwari

In [9]:
#2.Variable name should not contain any special characters
name@='Rajeshwari'
print(name@)

SyntaxError: invalid syntax (<ipython-input-9-706271164d8d>, line 3)

In [10]:
#string datatype declaration examples
#first method :using single quotes
name='Rajeshwari'
print(name)

Rajeshwari

In [11]:
#second method:using double quotes
name="Rajeshwari"
print(name)

Rajeshwari

In [13]:
#third method:usin triple quotes
name="Rajeshwari"
print(name)

Rajeshwari

In [14]:
name='Rajeshwari'
type(name)

str