In [2]:
#Introduction to list datatype
#How do you define list datatype-->uding square brackets []
students=['raghu','rajeshwari','gagan','nisha','harish']
print(students)

['raghu', 'rajeshwari', 'gagan', 'nisha', 'harish']

In [3]:
type(students)

list

In [4]:
#How to access the values from the abobe list..?
#Introduction to indexing:0.1.2.....
#requiremen 1:We want to get rajeshwari name in op-->according to above student list rajeshwari's index numberis 1 so we have to do as below to achieve our requirement
print(students[1])

rajeshwari

In [5]:
#requirement 2:We want to get gagan name in op
print(students[2])

gagan

In [30]:
#How to add new elements to list
#requiement 1 :We want to add name kiran to existingstudent lis ['raghu', 'rajeshwari', 'gagan', 'nisha', 'harish']
students.append('kiran') #append() method is used to add new elements to list and it will add elements to end of list
print(students)

['raghu', 'rani', 'suresh', 'kiran', 'kiran']

In [ ]:
#requirement 2: we want to add sunitha to above list

In [9]:
students.append('sunitha')
print(students)

['raghu', 'rajeshwari', 'gagan', 'nisha', 'harish', 'kiran', 'kiran', 'sunitha']

In [ ]:
#requiremet 3:we want to add suresh at 2nd index

In [10]:
students.insert(2,'suresh') #insert() method is used to add element to perticular index
print(students)

['raghu', 'rajeshwari', 'suresh', 'gagan', 'nisha', 'harish', 'kiran', 'kiran', 'sunitha']

In [ ]:
#How to modify the elements in list
#requiremt:we want to replace rajeshwwari with rani
#action:from above list rajeshwari's index number is 1,so we have to replace index 1 with rani

In [11]:
students[1]='rani'
print(students)

['raghu', 'rani', 'suresh', 'gagan', 'nisha', 'harish', 'kiran', 'kiran', 'sunitha']

In [ ]:
#How to delete elements from the list
#requiremet:I want to delete harish name from above list

In [12]:
del students[5] #permanent approach
print(students)

['raghu', 'rani', 'suresh', 'gagan', 'nisha', 'kiran', 'kiran', 'sunitha']

In [ ]:
#temporary approach-->pop() method

In [13]:
print(students)

['raghu', 'rani', 'suresh', 'gagan', 'nisha', 'kiran', 'kiran', 'sunitha']

In [16]:
x = students.pop ()

In [17]:
print(students)

['raghu', 'rani', 'suresh', 'gagan', 'nisha', 'kiran', 'kiran']

In [18]:
print(x)

sunitha

In [ ]:
#requirement:want to delete gagan temporarly from the list

In [24]:
print(students)

['raghu', 'rani', 'suresh', 'gagan', 'nisha', 'kiran', 'kiran']

In [28]:
y=students.pop (3)

In [29]:
print(students)

['raghu', 'rani', 'suresh', 'kiran']