In [ ]:
#Understanding the range function usage
#general syntax:range(startvalue,stopvalue,stepcount)

In [ ]:
#req:print number from 1 to 20 by using range function along with for loop
#Note:Last value is always is exclusive

In [5]:
for x in range(1,20):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#req:I want to print a list of nu,bers from 1 to 30

In [7]:
numbers=list(range(1,30))

In [8]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [9]:
type(numbers)

list

In [ ]:
#req:I want to print only even numbers from 0 o 20

In [15]:
even_numbers=list(range(0,20,2))

In [16]:
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#req:I want to print only odd numbers from 1 to 30
#using for loop

In [18]:
for odd_numbers in range(1,30,2):
    print(odd_numbers)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [ ]:
#using list

In [19]:
odd_numbers=list(range(1,30,2))

In [20]:
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
#Introduction to conditional statements in python:if else conditions

In [21]:
cars=['audi','maruthi','toyota','bmw','benz']

In [ ]:
#req:print the list of cars by using or loop but I wan to print maruthi in capitals and remaining all others in title

In [26]:
for x in cars:
    if x =='maruthi':
        print(x.upper())
    else:
        print(x.title())

Audi
MARUTHI
Toyota
Bmw
Benz

In [ ]:
#scenario:Entry ticket for park
#for chilren of age 0-4 it's free
#for childern of ae 4-10 is 10 rupees
#for remaning all others above age 10 years is 15 rupees

In [48]:
childrenage=4

In [49]:
if childrenage<=4:
    print("No entry fee")
elif childrenage<=10:
    print("entry fee:10 rupees")
else:
    print("entry fee:15 rupees")

No entry fee